---
---
@charset "utf-8";

@import
  "utils"
;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.page-content {
  .officers {
    text-align: center;
  }

  .officer {
    display: inline-block;
    height: 60px;
    width: 155px;
    text-align: center;
    padding: 10px;
    font-family: $mono-font-family;

    p {
      margin: 0;
      font-size: 16px;
      line-height: 1.5em;
    }

    p:first-child {
      font-weight: bold;
    }
  }
}
