---
---
@charset "utf-8";

@import
  "utils"
;

.page-content {
  .contest {
    width: 100%;
    font-family: $mono-font-family;

    a {
      font-size:20px;
    }
    
    span {
      font-weight: bold;
    }
    
    code {
      font-size:12px;
      white-space: pre;
      word-break: normal;
      word-wrap: normal;
    }
  }

}
