---
---
@charset "utf-8";

@import
  "utils"
;
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700);

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

body {
  width: 100%;
  overflow: scroll;
  background-color: #1F0954;
  color: #CCCCCC;
  font-family: 'Open Sans', sans-serif;
}

.page-content {
  margin: 0;
  padding: 0px !important;
  .hint {
    color: $grey-color;
  }

  h1, h2, h3 {
    color: #FEFEFE;
    font-family: 'Nunito', sans-serif;
  }

  a {
    color: #e71b5e;
    text-decoration: none !important;
  }

  .button {
    width: 150px;
    height: 2em;
    border-radius: 5px;
    border: 2px solid #FEFEFE;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 400;
    font-size: x-large;
    margin: 15px auto;
    text-decoration: none !important;
    cursor: pointer;
    a {
      color: #FEFEFE;
    }
  }

  .button:hover {
    background-color: #FEFEFE;
    a {
      color: #1F0954;
    }
  }
}

img {
  margin: 20px auto;
  text-align: center;
  display: block;
}

.mask {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

h1 {
  color: #FEFEFE;
  text-transform: uppercase;
  font-size: 50px !important;
  padding-top: 15px;
  margin-bottom: 15px !important;
}

h2 {
  color: #FEFEFE;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
}

.details {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.detail-item {
  display: inline-block;
  width: 30%;
}

.line {
  width: 2px;
  height: auto;
  background: #e71b5e;
  vertical-align: middle;
  margin: 0 30px;
}

.detail-item.left {
  text-align: right;
}

.detail-item.right {
  text-align: left;
}
