/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #990000; color: #fff; text-shadow: none; }
::selection { background: #990000; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



/* PRIMARY STYLES */

body {
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  font-size: 11px;
  padding: 30px 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family : adelle, Georgia, serif;
font-weight : bold; }

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: underline;
}

a:hover,
a:active {
  text-decoration: none;
}

/* HEADER */

header {
  margin-right: 50px;
}

nav {
  float: right;
  font-size: 20px;
  margin: 20px 0 0 0;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}

nav a {
  margin: 0 10px;
}

nav a:link,
nav a:visited {
  text-decoration: none;
}

nav a:hover,
nav a:active {
  text-decoration: underline;
}

/* LOGO */

#logo {
  background: url('../img/s.png') center left no-repeat;
  color: #333;
  float: left;
  letter-spacing: 1px;
  padding-left: 55px;
}

#logo:hover {
  background: url('../img/cake.png') center left no-repeat;
}

a#logo:link,
a#logo:visited,
a#logo:active,
a#logo:hover {
  text-decoration: none;
}

#logo h1 {
  font-size: 20px;
  margin-bottom: 0;
}

#logo h2 {
  font-family: museo-sans, sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin-top: 1px;
  text-transform: uppercase;
}

/* LEAD IN */

#main .leadin {
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  font-family: adelle, adelle-1, adelle-2, Georgia, 'Times New Roman', serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin: 30px 0;
}

#main .leadin:first-child {
  margin-top: 50px;
}

/* CONTENT SECTION */

#main {
  font-size: 17px;
}

#main .half {
  float: left;
  width: 47%;
}

#main .half + .half {
  padding-left: 5%;
}

#main h1 {
  border-bottom: 4px solid #000;
  font-size: 30px;
  padding-bottom: 3px;
  margin-bottom: 30px;
}

#main h1 span {
  display: block;
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  font-size: 17px;
  font-weight: normal;
  margin: 1px 0 6px 0;
}

#main h2 {
  font-size: 22px;
  margin: 30px 0 10px 0;
}

/* SCHEDULE */

/* date */
#main .schedule h2 {
  clear: both;
  color: #666;
  font-size: 17px;
  float: left;
  margin: 0;
  padding-top: 2px;
  width: 65px;
  border-top: 1px solid;
  border-top-color: rgba(0, 0, 0, 0.2);
}

/* speaker/event */
#main .schedule div {
  padding-left: 85px;
}

/* speaker/event name */
#main .schedule div span:first-child {
  font-family : adelle, Georgia, serif;
  font-weight : bold;
}

/* speaker title / event location */
#main .schedule div span:nth-child(2) {
  color: #666;
}

#main .schedule div span:nth-child(2):before {
  content: " <";
}

#main .schedule div span:nth-child(2):after {
  content: ">";
}

/* speaker/event details */
#main .schedule div p {
  clear: right;
  margin: 5px 0 40px 0;
  text-align: justify;
}

#main .schedule.techtalks div p {
  margin: 5px 0 15px 0;
}

#main .schedule.techtalks h2 {
  padding-top: 2px;
}

#main .schedule.techtalks h2 + div {
  padding-top: 15px;
}

#main .schedule.techtalks div {
  position: relative;
  top: -15px;
}

/* OFFICERS */

#main .officers img {
  border: 3px solid #000;
  float: left;
  height: 200px;
  margin: 8px 10px 30px 0;
  width: 150px;
}

#main .officers h2 {
  clear: left;
}

#main .teamofficers img {
  max-width: 100%;
}

/* SUBSCRIBE */

.subscribe {
  clear: right;
  display: block;
  float: right;
  margin: 20px 14px 0 0;
}

.subscribe [name="email"] {
  border-radius: 2px;
  border: 2px solid #666;
  font-size: 18px;
  padding: 5px;
  width: 240px;
}

.subscribe [type="submit"] {
  font-size: 20px;
  padding: 5px;
  width: 120px;
  margin: 0 0 15px 15px;
}

/* FOOTER */

footer {
  margin-top: 10px;
}

footer .fb-like {
  display: block;
  float: right;
  left: -20px;
  position: relative;
  top: -20px;
}

footer .credit {
  color: #666;
  float: right;
  font-size: 14px;
  margin-right: 50px;
}

/* MISC */

.oldSite {
  color: #eee;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Remove Typekit spam */
.typekit-badge {
  display: none !important;
}

/* Bold the menu button of the current page */
#techtalks .techtalks,
#past .past,
#about .about {
  font-weight: bold;
}

.old {
  opacity: 0.4;
}


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
