<aside class="sidebar-left">
  <div class="logo">
    <svg width="75" height="75" viewBox="0 0 180 180">
      <path id="logo" fill="#cc0000" d="m2.66667,4.08333l0,27.22017l116.4,57.7307l-116.4,58.92719l0,27.22018l171.00002,-86.44649l-171.00002,-84.65176z"/>
    </svg>
  </div>
  <div class="title">
    <h1>The Stanford ACM</h1>
    <h4>Association for Computing Machinery</h4>
  </div>
  <div class="links">
    <a name="home" href="/">about</a>
    <a name="events" href="/events">events</a>
    <a name="contact" href="/contact">contact</a>
    <a name="officers" href="/officers">officers</a>
    <a name="sponsors" href="/sponsors">sponsors</a>
    <a name="enigma" href="/enigma">enigma</a>
  </div>
</aside>
