// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$mono-font-family: Inconsolata;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$red-color:        #cc0000;
$red-color-light:  lighten($red-color, 40%);
$black-color:      #0f0f0f;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
