<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Stanford ACM - {{ page.title }}</title>
  <meta name="description" content="The Stanford chapter of the ACM currently has 400+ members. We serve the Stanford community by planning and organizing numerous industry, academic, and social events each quarter.">
  <meta name="author" content="Stanford ACM">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Typekit Fonts -->
  <script type="text/javascript" src="http://use.typekit.com/coe2brh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/css/style.css">
  <!-- end CSS-->

  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body id="{{ page.id }}">

  <div id="container">
    <header class="clearfix" role="header">
      <a href="/" class="clearfix" id="logo" role="logo">
        <h1>The Stanford ACM</h1>
        <h2>Association for Computing Machinery</h2>
      </a>

      <nav>
        <a class="techtalks" href="/techtalks/">Speak</a> &bull;
        <a class="past" href="/past/">Past events</a> &bull;
        <a class="about" href="/about/">What is ACM?</a>
      </nav>

      <form class="subscribe">
        <input name="email" type="email" spellcheck="false" placeholder="Subscribe to Email Updates" />
        <input name="submit" type="submit" value="Subscribe" />
      </form>
    </header>

    <div class="clearfix" id="main" role="main">

      {{ content }}

    </div>
    <footer class="clearfix">

      <div class="fb-like" data-href="http://www.facebook.com/stanfordacm" data-send="false" data-layout="box_count" data-width="55" data-show-faces="false"></div>

      <div class="credit">
        &copy; ACM chapter of Stanford University. Design by <a href="http://www.feross.org">Feross</a>.
      </div>

    </footer>
  </div> <!--! end of #container -->

  <a href="http://github.com/stanfordacm/stanfordacm.github.com/" id="github"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>

  <div class="oldSite">
    <a href="http://feross.org/stanfordacm.com/">Old Site</a>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="/js/plugins.js"></script>
  <script defer src="/js/script.js"></script>
  <!-- end scripts-->

  <!-- Facebook -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


  <script>
    window._gaq = [['_setAccount','UA-13118040-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
